<!DOCTYPE html>
<html>
<head>
  <title>Demo APP SS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script  src="/js/reqapi.js"></script>
</head>

<body>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
        <a class="navbar-brand" href="#">S.S: Front Rest API Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/CryptoAdmin">Index log</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/transfer">transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting">Settings</a>
            </li>
          </ul>
          <span class="navbar-text">
            Developed by Steeven J Salazar
          </span>
        </div>
      </nav>
  </div>

  <div class ="navbarspacer">

  </div>

  <div>

    <div class="center-container">

      <div class="left-col">
        <label for="networks">Choose a Network:</label>
        <select name="Networks" id="Networks" class="SelectorStyle"></select>
      </div>
    
      <div class="col-xs-2 searchbarIndex">
        <label for="ex1" class="searchbarspan">Index Account </label>
        <input type="text" class="searchbar" id="IndexAddress">
        <button class="buttonsearch" onclick="IndexAddress(this)">Search</button>
      </div>

    </div>
  </div>

  <div class="CryptoInfoContainer">
    <div class="CryptoInfo">
      <div class="row">

        <div class="col ">
          <span id="name" class="cryptoName">{{NameCoin}}</span>
          <br>
          <span id="symbol" class="cryptoName">{{NameCoin}}</span>
          <br>
          <span  id="" class="">Network: </span><span  id="networkName" class="">Ethereum</span>
          <br>
          <span  id="" class="">id: </span><span  id="networkid" class="">777</span>
        </div>

        <div class="col ">
          <span id="" class="AccAdmin ">Address:</span>
          <br>
          <span id="Address" class="monospaceFont amountsCoin">{{Address}}</span>
        </div>

        <div class="col">
          <span id="AccAdmin" class="AccAdmin">balance  </span> 
          <br>
          <span class="monospaceFont amountsCoin" id="balance">{{balance}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="tablecontainer">

    <div class="row w-100" style="align-items: center;justify-content: center;" >

      <div class="col filterselection tableheadCoinSymbol">
        <p>{{symbol}} Events</p>
      </div>

      <div class="col RowCheckBox">
        <div class="row filterselection ">
          <div class="col">
            <label class="CheckboxContainer">Transactions
              <input type="checkbox" checked="checked" id="filterTransactions">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col">
            <label class="CheckboxContainer">Balances
              <input type="checkbox" checked="checked" id="filterBalances">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col">
            <label class="CheckboxContainer">Approval
              <input type="checkbox" checked="checked" id="filterApproval">
            <span class="checkmark"></span>
          </div>
          <div class="col">
            <label class="CheckboxContainer">Supply
              <input type="checkbox" checked="checked" id="filterSupply">
              <span class="checkmark"></span>
          </div>
          <div class="col">
            <label class="CheckboxContainer">FreezeAddress
              <input type="checkbox" checked="checked" id="filterFreezeAddress">
              <span class="checkmark"></span> 
          </div>
          <div class="col">
            <label class="CheckboxContainer">Pause
              <input type="checkbox" checked="checked" id="filterPause">
              <span class="checkmark"></span> 
          </div>

        </div>
      </div>

      <div class="col filterselection  intervalsetMaxWidth">

        <div class="row ">
          <div class="col FromMargin searchFrom">
            <p>index From Block N</p>
          </div>
          <div class="col intervalsetsearhbarDiv">
            <input type="text" class="intervalsetsearchbar" id="fromBl">
          </div>
          <div class="col ToMargin">

            <div class="row displayRowSearchInterval">

              <div class="col searchTo">
                <p>To</p>
              </div>
              <div class="col intervalsetsearhbarDiv">
                <input type="text" class="intervalsetsearchbar" id="toBl">
              </div>


            <div class="col">
              <button id="indexIntervalsButton" class="buttonIndexIntervals" onclick="performIndexEventsInIntervals(this)" >Search</button>
            </div>

            </div>

          </div>
          
        </div>
      </div>

    </div>

  <div class="tableEvents">
    <table id="tableEvents" class="tableEvents">
      <tbody id="table-body">
      </tbody>
    </table>
  </div>

  </div>

  <script>
    const intervalId = setInterval(IndexEventsAddressMain, 5000)
  </script>

</body>