<!DOCTYPE html>
<html>
<head>
  <title>SS: &#916; DELTA Transfer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script  src="js/transfer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ethers@6.11.1/dist/ethers.umd.min.js"></script>
</head>

<body>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
        <a class="navbar-brand" href="#">S.S: Front Rest API Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/CryptoAdmin">Index Log </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Transfer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting">Settings</a>
            </li>
          </ul>
          <span class="navbar-text">
            Developed by Steeven J Salazar
          </span>
        </div>
      </nav>
  </div>

    <div class ="navbarspacer">
    </div>

    <div>
      <div class="center-container">



        <div class="col-xs-2 searchbarIndex">
          <label for="ex1" class="searchbarspan">Index Account </label>
          <input type="text" class="searchbar" id="IndexAddress">
          <button class="buttonsearch" onclick="IndexAddress(this)">Search</button>
        </div>

      </div>
    </div>


<div class="CryptoInfoContainer">

  <div class="CryptoInfo">
    <div class="row chartsdiv">
      <h4>Transfer</h4><br>
    </div>
    <div class="row ">

        <div class="col">

            <div class="row ">
                <div class="WrapperGrid">

                <span id="name" class="cryptoName">SS</span>
                <br>
                <span  id="" class="">Network: </span><span  id="networkName" class="">Ethereum</span>
                <br>

                <div>
                  <span id="AccAdmin" class="AccAdmin">account  </span>
                  <span id = "Address" class="monospaceFont amountsCoin">{{AccAdmin}}</span>
                </div>

                <div>
                  <span span id="AccAdmin" class="AccAdmin">balance</span> 
                  <br>
                  <span class="deltaformat">&#916;</span>
                  <span id = "balance" class="monospaceFont amountsCoin">0</span>
                </div>

                <div>
                  <span span id="AccAdmin" class="AccAdmin">Gas Transaction</span> 
                  <br>
                  <span id = "gasTransaction" class="monospaceFont amountsCoin">0</span>
                </div>



            </div>
            </div>

        </div>

        <div class="col">

            <div class="left-col">
              <label for="networks">Choose a Network:</label>
              <select name="Networks" id="Networks" class="SelectorStyle"></select>
            </div>

            <div class="transactioDivGrouop">

              <div class="">

                <span>Private Key</span>
                <br />
                <input type="text" class="transferInput" id="privKeyValue">
                <span id="error-message" class="error-message"></span>

              </div>

              <div class="">

                <br />
                <span>Address Receiver</span>
                <br />
                <input type="text" class="transferInput" id="AddressToTransfer">
                <br />
                <span id="error-message2" class="error-message"></span>

              </div>

              <div class="transferthirdrow row ">


                <div class="col">
                
                  <span>amount value</span>
                  <br />
                  <input type="text" class="transferInputValue" id="AmountTransfer" placeholder=" &#916;0,000.000000">

                </div>


                <div class="col">
                  <label for="networks">network to transfer:</label>
                  <select name="Networks" id="NetworksTo" class="SelectorStyle"></select>
                </div>


                <div class="col">
                  <button class="buttontransfer" onclick="signTransaction(this)">Send</button>
                </div>



              </div>
                
              </div>

        </div>
    </div>
  </div>
</div>




<script>

    updateNetworkIndexSelect()
    deriveEthAddressFromKey()

    inputPk = document.getElementById('privKeyValue');
    inputAddress = document.getElementById('AddressToTransfer');
    errormessage = document.getElementById('error-message');
    errormessage2 = document.getElementById('error-message2');

    const intervalId2 = setInterval(retrieveinfo, 4000)
    const intervalId = setInterval(GetBalanceAddress, 8000)

    
    inputPk.addEventListener('input', function() {

        if (checkPrivate(this.value)) {
            this.classList.remove('error-border');
            errormessage.textContent = '';
            publicderived = false;
            deriveEthAddressFromKey()
            GetBalanceAddress()
            } else {
            this.classList.add('error-border');
            errormessage.textContent = 'invalid address';
            }

    });

    inputAddress.addEventListener('input', function() {
    
    if (checkAddress(this.value)) {
        this.classList.remove('error-border');
        errormessage2.textContent = '';
    } else {
        this.classList.add('error-border');
        errormessage2.textContent = 'invalid address';
    }
        
});







const amountInput = document.getElementById('AmountTransfer');
const decimalPlaces = 6;
let hasDecimal = false; 
let hasInput = false;   

amountInput.addEventListener('input', function() {
  hasInput = true; // El usuario ha escrito algo
  let value = this.value.replace(/[^0-9.]/g, '');

  if (value.includes('.') && !hasDecimal) {
    hasDecimal = true;
  } else if (!value.includes('.')) {
    hasDecimal = false;
  }

  const parts = value.split('.');
  let integerPart = parts[0] || '';
  let decimalPart = (parts[1] || '').slice(0, decimalPlaces);

  integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

  let formattedValue = integerPart;
  if (hasDecimal) {
    formattedValue += "." + decimalPart;
  }

  this.value = formattedValue;
});

amountInput.addEventListener('focus', function() {
  this.select();
  this.style.textAlign = 'left';
});

amountInput.addEventListener('blur', function() {
  this.style.textAlign = 'right';
  const value = this.value;
  if (hasInput && !hasDecimal && value) {
    this.value = value + ".00";
  } else if (hasDecimal && value.endsWith('.')) {
    this.value = value + "00";
  } else if (!hasInput && !value) {
    this.value = ""; // dont show 0.00
  }
});

amountInput.addEventListener('click', function() {
  const caretPosition = this.selectionStart;
  const value = this.value;
  const dotIndex = value.indexOf('.');

  if (dotIndex === -1) {
    this.select();
  } else if (caretPosition < dotIndex) {
    this.setSelectionRange(0, dotIndex);
  } else if (caretPosition > dotIndex) {
    this.setSelectionRange(dotIndex + 1, value.length);
  }
});

window.onload = function() {
  amountInput.style.textAlign = 'right';
};








</script>


</body>