<!DOCTYPE html>
<html>
<head>
  <title>S.S: &#916; DELTA</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script  src="js/transfer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ethers@6.11.1/dist/ethers.umd.min.js"></script>
</head>

<body>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
        <a class="navbar-brand" href="#">S.S: &#916; DELTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/CryptoAdmin">Index Log </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Transfer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting">Settings</a>
            </li>
          </ul>
          <a class="navbar-text navbar-brand" href="https://steevjadev.blogspot.com/2025/01/hello.html">
            Developed by Steeven J Salazar
          </a>
        </div>
      </nav>
  </div>

    <div class ="navbarspacer">
    </div>

    <div>
      <div class="center-container" style="justify-content: right;">
        <div class="col-xs-2 searchbarIndex">
          <label for="ex1" class="searchbarspan">Index Account </label>
          <input type="text" class="searchbar" id="IndexAddress">
          <button class="buttonsearch" onclick="IndexAddress(this)">Search</button>
        </div>

      </div>
    </div>


  


    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" onclick="Transfer()">Transfer</a>
      <a href="javascript:void(0)" onclick="WalletAdmin()">Wallet Management</a>

    </div>


  <div class="CryptoInfoContainer" id="main">
	  
	        <div>
        <span class="sideButtonWallter" onclick="openNav()">&#9776;</span>
      </div>

    <div class="CryptoInfo">



      <div id="wallets" style="display: none;">
		  
        <div class="row transferdivTittle">
          <h4>Wallet Management</h4><br>
        </div>

        <div class="AddNetwork transactioDivGrouop">

          <span>Save Local Private key</span>
          <br /><br />
          <input type="text" class="transferInput" id="SavePrivKey">
          <span id="error-message" class="error-message"></span>


          <div class="col buttonDivWallet">
            <button class="buttontransfer" onclick="storePrivateKey(this)">Save</button>
          </div>

        </div>

        <div class="AddNetwor transactioDivGrouop">

          <span>Store Public Address</span>
          <br /><br />
          <input type="text" class="transferInput" id="saveAddress">
          <span id="error-message" class="error-message"></span>


          <div class="col buttonDivWallet">
            <button class="buttontransfer" onclick="storeAddress(this)">Save</button>
          </div>

        </div>

  
        <div class="AddNetwork walletManagementDelete">
			<div class="col">
             <span>delete address</span>
             <select name="keyStored" id="deleteAddress" class="SelectorStyle"></select>
            </div>
			<div class="col">
		      <div class="col buttonDivWallet">
                <button class="buttonDelete" onclick="deleteAddress(this)">delete</button>
              </div>
             </div>
		</div>
		
		<div class="AddNetwork walletManagementDelete"  >
			<div class="col">
			   <span>delete wallet</span>
				<select name="keyStored" id="keyStored" class="SelectorStyle"></select>
			</div>	
			<div class="col">
			  <div class="col buttonDivWallet">
				<button class="buttonDelete" onclick="deleteWallet(this)" style="background-color: #2c0c0c6b;">delete</button>
			  </div>
			</div>
        </div>
		
		
		
	</div>
		

      

      <div id="Transfers">

        <div class="row transferdivTittle">
          <h4>Transfer</h4><br>
        </div>
        <div class="row ">

            <div class="col" style="max-width: 472px;">

                <div class="row ">
                    <div class="WrapperGrid infoAccount">

                    <span id="name" class="cryptoName">SS</span>
                    <br>
                    <span  id="" class="">Network: </span><span  id="networkName" class="">Ethereum</span>
                    <br>

                    <div>
                      <span id="AccAdmin" class="AccAdmin">account  </span>
                      <span id = "Address" class="monospaceFont amountsCoinTransfer">{{AccAdmin}}</span>
                    </div>

                    <div>
                      <span span id="AccAdmin" class="AccAdmin">balance</span> 
                      <br>
                      <span class="deltaformat" id="symbolName">&#916;</span>
                      <span id = "balance" class="monospaceFont amountsCoinTransfer">0</span>
                    </div>

                    <div>
                      <span span id="AccAdmin" class="AccAdmin">Gas Transaction</span> 
                      <br>
                      <span id = "gasTransaction" class="monospaceFont amountsCoinTransfer">0</span>
                    </div>



                </div>
                </div>

            </div>

            <div class="col">

                <div class="left-col">
                  <label for="networks">Choose a Network:</label>
                  <select name="Networks" id="Networks" class="SelectorStyle"></select>
                </div>

                <div class="transactioDivGrouop">

                  <div class="">
		
					<div class="labelselectAddress">
						 <span>Private Key</span>         
						 <div>
						 	<label for="networks">    Load stored Wallet:</label>
							<select name="Networks" id="walletsTransfer" class="SelectorStyle"></select>
						 </div>         

					</div>

                    <br />
                    <input type="password" class="transferInput" id="privKeyValue">
                    <span id="error-message" class="error-message"></span>

                  </div>
                  
                    <br />  <br />  

                  <div class="">

                    <div class="labelselectAddress">
						<span>Address Receiver</span>
						
						<div>
							<label for="networks">    Load stored Address:</label>
							<select name="Networks" id="addressTransfer" class="SelectorStyle"></select>
						</div>

						
                    </div>
                    
                    
                    <input type="text" class="transferInput" id="AddressToTransfer">
                    <span id="error-message2" class="error-message"></span>

                  </div>

                  <div class="transferthirdrow row ">


                    <div class="col">
                    
                      <span>amount value</span>
                      <br />
                      <input type="text" class="transferInputValue" id="AmountTransfer" placeholder=" &#916;0,000.000000">

                    </div>

                    <div class="col">
                      <button class="buttontransfer" onclick="signTransaction(this)" style ="top: 17px;">Send</button>
                    </div>



                  </div>
                    
                  </div>

            </div>
        </div>

      </div>





      

    </div>


  </div>

</div>




<script>

  updateNetworkIndexSelect()
  deriveEthAddressFromKey()
  Transfer()

  inputPk = document.getElementById('privKeyValue');
  SavePrivKey = document.getElementById('SavePrivKey');
  inputAddress = document.getElementById('AddressToTransfer');
  saveAddress = document.getElementById('saveAddress');
  errormessage = document.getElementById('error-message');
  errormessage2 = document.getElementById('error-message2');

  const intervalId2 = setInterval(retrieveinfo, 4000)
  const intervalId = setInterval(GetBalanceAddress, 8000)
  
  
     const selectElement = document.getElementById('Networks');
      if (selectElement) {
        selectElement.addEventListener('change',async function(event) {

          let date = new Date();
          date.setTime(date.getTime() + (9999 * 24 * 60 * 60 * 1000));
          const expires = "expires=" + date.toUTCString();
          document.cookie = "networkSet" + "=" + document.getElementById("Networks").value + ";" + expires + ";path=/";

        });
      } 

  
  inputPk.addEventListener('input', function() {

      if (checkPrivate(this.value)) {
          this.classList.remove('error-border');
          errormessage.textContent = '';
          publicderived = false;
          deriveEthAddressFromKey()
          GetBalanceAddress()
          } else {
          this.classList.add('error-border');
          errormessage.textContent = 'invalid address';
          }

  });

  SavePrivKey.addEventListener('input', function() {

  if (checkPrivate(this.value)) {
      this.classList.remove('error-border');
      errormessage.textContent = '';
      } else {
      this.classList.add('error-border');
      errormessage.textContent = 'invalid address';
      }

  });

  inputAddress.addEventListener('input', function() {
    
    if (checkAddress(this.value)) {
        this.classList.remove('error-border');
        errormessage2.textContent = '';
    } else {
        this.classList.add('error-border');
        errormessage2.textContent = 'invalid address';
    }
  });

  saveAddress.addEventListener('input', function() {
    
    if (checkAddress(this.value)) {
        this.classList.remove('error-border');
        errormessage2.textContent = '';
    } else {
        this.classList.add('error-border');
        errormessage2.textContent = 'invalid address';
    }
  });




const amountInput = document.getElementById('AmountTransfer');
const decimalPlaces = 6;
let hasDecimal = false; 
let hasInput = false;   

amountInput.addEventListener('input', function() {
  hasInput = true; // El usuario ha escrito algo
  let value = this.value.replace(/[^0-9.]/g, '');

  if (value.includes('.') && !hasDecimal) {
    hasDecimal = true;
  } else if (!value.includes('.')) {
    hasDecimal = false;
  }

  const parts = value.split('.');
  let integerPart = parts[0] || '';
  let decimalPart = (parts[1] || '').slice(0, decimalPlaces);

  integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

  let formattedValue = integerPart;
  if (hasDecimal) {
    formattedValue += "." + decimalPart;
  }

  this.value = formattedValue;
});

amountInput.addEventListener('focus', function() {
  this.select();
  this.style.textAlign = 'left';
});

amountInput.addEventListener('blur', function() {
  this.style.textAlign = 'right';
  const value = this.value;
  if (hasInput && !hasDecimal && value) {
    this.value = value + ".00";
  } else if (hasDecimal && value.endsWith('.')) {
    this.value = value + "00";
  } else if (!hasInput && !value) {
    this.value = ""; // dont show 0.00
  }
});

amountInput.addEventListener('click', function() {
  const caretPosition = this.selectionStart;
  const value = this.value;
  const dotIndex = value.indexOf('.');

  if (dotIndex === -1) {
    this.select();
  } else if (caretPosition < dotIndex) {
    this.setSelectionRange(0, dotIndex);
  } else if (caretPosition > dotIndex) {
    this.setSelectionRange(dotIndex + 1, value.length);
  }
});

window.onload = function() {
  amountInput.style.textAlign = 'right';
};




switchmenu = false;

function openNav() {
	
	if(!switchmenu) {
		document.getElementById("mySidenav").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";		
		switchmenu = true
	} else {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.marginLeft= "0";
		switchmenu = false
	}

}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";

}

console.log( (document.cookie.match('(^|;)\\s*' + "networkSet" + '\\s*=\\s*([^;]+)') || [])[2] || null )

</script>


</body>
